.tittle-notification{
    .title{
        color: var(--ot-primary-title);
        font-family: var(--Inter);
        font-size: 16px;
        line-height: 1.4;
        text-transform: capitalize; 
        text-decoration: underline;;
    }
    .icon {
        border-radius: 50%;
        font-size: 19px;
        border: 0;
        width: 32px;
        height: 32px;
        line-height: 34px;
        display: block;
        text-align: center;
        color: var(--ot-primary);
        margin-bottom: 10px;
        margin-right: 10px;
        background: var(--ot-secondary-border);
    }
}

.rating-star{
    grid-gap: 5px;
    i{
        color: #FA9405;
        font-size: 15px;
    }
}

// single-feedback-review
.single-feedback-review{
    border: 1px solid var(--ot-primary-border);
    padding: 8px 10px 0px 16px;
    // &:not(:last-child){
    //     margin-bottom: 18px;
    // }
    .review-top{
        display: flex;
        align-items: start;
        @media #{$xs-to-sm-max} {
            flex-wrap: wrap;
        }
        .review-user{
            grid-gap: 20px;
            display: flex;
            .review-img{
                max-width: 32px;
                border-radius: 50%;
                min-width: 32px;
                height: 32px;
                border: var(--ot-tertiary);
                img{
                    border: var(--ot-tertiary);
                }
            }
            .review-title{
                font-size: 16px;
                line-height: 24px;
                color: var(--ot-primary-title);
            }
        }
        .review{
            @media  #{$xs-to-sm-max} {
                justify-content: space-between;
                flex: 1;
            }
            p{
                font-weight: 600;
                font-size: 14px;
                color: #B1B5C4;
            }
        }
    }
    .review-widget-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }
}

// single-feedback-review
.single-notifications{
    border: 1px solid var(--ot-secondary-border);
    padding: 8px 10px 0px 16px;
    // &:not(:last-child){
    //     margin-bottom: 18px;
    // }
    .notifications-top{
        display: flex;
        align-items: start;
        @media #{$xs-to-sm-max} {
            flex-wrap: wrap;
        }
        .notifications-user{
            grid-gap: 20px;
            display: flex;
            @media #{$xs} {
                flex-wrap: wrap;
                grid-gap: 5px;
            }
            .notifications-img{
                max-width: 32px;
                border-radius: 50%;
                min-width: 32px;
                height: 32px;
                border: var(--ot-tertiary);
                overflow: hidden;
                img{
                    border: var(--ot-tertiary);
                }
            }
            .notifications-title{
                font-size: 16px;
                line-height: 24px;
                color: var(--ot-primary-title);
            }
        }
        .notifications{
            @media  #{$xs-to-sm-max} {
                justify-content: space-between;
                flex: 1;
            }
            p{
                font-weight: 600;
                font-size: 14px;
                color: #B1B5C4;
            }
        }
    }
    .notifications-description{
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
    }
}




