.modal-width {
	--bs-modal-width: 700px;
}

.modal-style {
	background-color: var(--white);
	border-radius: 0.3rem;
	padding: 20px 39px;
	padding-top: 45px;
    @media #{$xs}{
        padding: 20px 10px;
    }
    &.active {
        visibility: visible;
        opacity: 1;
        top: 15%;
      }
    .close-icon {
        right: 15px;
        z-index: 10;
        top: 15px;
        cursor: pointer;
        background: var(--ot-primary);
        color: #ffffff;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        border-radius: 50%;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        display: inline-block;
        background-image: none;
        opacity: 1;
        border: 0;
        position: absolute;
        right: 10px;
        top: 10px;
        transform: rotate(0deg);
        margin: 0 auto;
        text-align: center;
        padding: 0;
        i {
            // position: relative;
            // left: 0px;
            // top: -1px;
        }
        &:hover {
            background: #fd2f73;
            color: white;
            -webkit-transform: rotate(90deg);
                    transform: rotate(90deg);
            }
                  
    }
}

.submit-ratting:hover{
    color: var(--ratting-color);
}
.cursor-pointer{
    cursor: pointer;
}




.social-share-list {
    .single-social {
        display: inline-block;
        position: relative;
        transition: 0.4s;
        display: inline-block;
        color: var(--ot-primary-paragraph);
        background: var(--white);
        border: 1px solid var(--ot-primary-border);
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        padding: 6px 14px;
        cursor: pointer;
        border-radius: 6px;
        text-align: center;
        @media #{$xs}{
            padding: 5px 9px;
            margin-right: 3px;
        }
        // i{
        //     position: relative;
        //     top: 5px;
        // }
        &::after {
            position: absolute;
            right: -9px;
            top: -20px;
            color: var(--ot-primary);
            font-size: 20px;
            z-index: 1;
        }
        &.selected {
            position: relative;
            border: 1px solid var(--ot-primary);
            color: var(--ot-primary);
            &::after {
                content: "\EB80";
                font-family: var(--remix-icon);
            }
        }
        &:last-child{
            margin-bottom: 0px;
            margin-right: 0;
        }
        
    }
}
  

  
