
.header-area {
    padding: 18px 0;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
    // margin-bottom: 10px;
    background: var(--white);
    @media #{$xs-to-md-max}{
        padding: 13px 0;
        padding-bottom: 0;
    }


    .main-menu{
        .listing{
            .single-list{
                display: inline-block;
                position: relative;
                z-index:9;
                // margin: 0px 14px;
                .single{
                    @include transition(.3s);
                    color: var(--ot-tertiary-title);
                    font-weight: 500;
                    padding: 11px 14px;
                    display: block;
                    font-size: 16px;
                    text-transform: capitalize;
                    // margin-bottom: 10px;
                    @media #{$lg}{
                        padding: 11px 5px;
                    }
                    &.active{
                        color: var(--ot-primary);
                    }
                }
                // Search
                &.search{
                    margin-left: 12px;
                    a{
                        padding: 5px 8px ;
                    }
                    i{
                        background: var(--ot-primary);
                        cursor: pointer;
                        padding: 15px 15px ;
                        color: #fff ;
                        font-size: 16px;
                        border-radius: 50%;
                    }
                }
                &:hover{
                    & > .single{
                        color:var(--ot-primary);
                        // &::before{
                        //     left: 0;
                        //     right: auto;
                        //     width: 100%;
                        //     -webkit-transition: .4s;
                        //     -o-transition: .4s;
                        //     transition: .4s;
                        // }
                    }
                  & >  .submenu {
                        visibility: visible;
                        opacity: 1;
                        top: 130%;
                        & > .single-list{
                            & >.single{
                                // &:before{
                                //     left: 0px;
                                //     width: 10px;
                                // }
                            }
                        }
                        .submenu{
                            left: 100%;
                            top: 0;
                        }
                    }
                }
            }
            .submenu{
                position: absolute;
                width: 220px;
                background: var(--white);
                left: 0;
                top: 110%;
                visibility: hidden;
                opacity: 0;
                box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
                padding: 17px 0;
                @include transition(.2s);
                z-index: 2;
                @media #{$lg}{
                  right: 0;
                  left: auto;
                }
                & > .single-list{
                    margin-left: 7px;
                    display: block;
                    margin-bottom: 3px;
                    & > .single{
                        padding: 6px 10px !important;
                        font-size: 15px;
                        text-transform: capitalize;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        align-items: center;
                        position: relative;
                        margin-bottom: 0;
                        &:before{
                            transition: .4s;
                            width: 0px;
                            height: 2px;
                            content: "";
                            top: 50%;
                            position: absolute;
                            left: 0px;
                            z-index: 0;
                            background: var(--ot-primary);
                        }
                        &:hover{
                            color:var(--ot-primary);
                            background: none;
                            padding-left: 13px !important;
                            &:before{
                                left: 0px;
                                width: 10px;
                            }
                        }
                        i{
                            margin-right: 0;
                            line-height: 1;
                            position: relative;
                            top: 0px;
                            color: var(--ot-primary-paragraph);
                            font-size: 18px;
                            @media #{$xs-to-md-max}{
                                display: none;;
                            }
                        }
                    }
                }
            }
        }
    }
}

.header-area .main-menu .listing .submenu > .single-list > .single:hover::before {
	left: 0px;
	width: 10px;
}



// Header Search
.header-search{
    width: 460px;
    margin: 0 10px 0 10px;
    @media #{$xl}{
        width: 290px;
    }
    @media #{$lg}{
        width: 188px;
        margin: 0;
    }
    @media #{$xs-to-md-max}{
        width: 100%;
        margin: 0 13px;
        // Hide Search field Mobile Devices
        display: none;
    }
    .input-form {
        position: relative;
        z-index: 0;
    }
    .input-form {
        input {
            color: var(--ot-primary-title);
            height: 47px;
            width: 100%;
            font-size: 16px;
            font-weight: 300;
            padding: 9px 15px 9px 50px;
            position: relative;
            border: 1px solid var(--ot-primary-border);
            border-radius: 40px;
            background: var(--white);
            @media #{$lg}{
                padding:10px 12px 7px 40px !important;
            }
            &::placeholder {
                font-size: 16px;
                font-weight: 400;
            }
            &:focus {
                border-color: var(--ot-primary);
            }
        }
        .icon {
            color: #9B9B9B;
            position: absolute;
            left: 16px;
            display: inline-block;
            top: 53%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-47%);
            font-size: 19px
        }
    }

}
.cart{
    display: flex;
    align-items: center;
    @media #{$xs-to-md-max}{
        margin-right: 60px;
    }
    @media #{$xs}{
        margin-right: 46px;
    }
    .shopping-cart{
        @media #{$xs}{
            display: none;
        }
    }
    .notification{
        @media #{$xs}{
            display: none;
        }
    }
    .count {
        background: #FF0000;
        color: #fff;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        display: block;
        position: absolute;
        top: -3px;
        right: 4px;
        line-height: 18px;
        font-size: 10px;
    }

    .cart-list{
        line-height: 1;
        // margin-bottom: 10px;
        .change-mode{
            // margin-bottom: 6px !important;
        }
        .cart-items{
            padding: 6px 11px;
            color: var(--ot-tertiary-title);
            border: 1px solid transparent;
            font-size: 20px;
            font-weight: 500;
            border-radius: 6px;
            text-align: center;
            display: block;
            @media #{$sm}{
                padding:6px 1px;
            }
            @media #{$xs}{
                padding: 0 7px;
                color: var(--white);
            }
        }
        .btn-primary-fill, .btn-primary-outline {
            padding: 13px 13px;
            font-size: 16px;
            margin-left: 8px;
            border-radius: 4px;
            font-size: 16px;
            @media #{$xs}{
                padding: 10px 8px;
                font-size: 14px;
            }
        }
        .upload-btn {
            padding: 7px 12px 11px 12px;
            margin-left: 20px;
            border-radius: 4px;
            font-size: 14px;
            color: var(--white);
            margin-right: 20px;
            @media #{$lg}{
                span{
                    display: none;
                }
            }
            @media #{$xs-to-sm-max}{
                padding: 1px 5px 9px 5px;
                span{
                    display: none;
                }
            }

            &:hover{
                color: var(--ot-primary);
                border: 1px solid var(--ot-primary);
                i{
                    left: 0;
                }
            }
        }
    }
}

.playlist-banner-wrapper{
    .change-mode {
        width: 30px;
        height: 30px;
        line-height: 35px;
        background: none;
        margin: 0 auto !important;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: relative;
        border: 1px solid #efefef !important;
        border-radius: 50%;
        text-align: center;
        color: #484D5B !important;
        i{
            margin: 0 auto !important;
            top: 0 !important;
            color: #484D5B !important;
        }
    }
}
.header-transparent {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}


//! header Sticky  & Responsive
.header-sticky{
  &.sticky-bar{
      background: var(--white);
      z-index: 990 !important;
      @media #{$xs-to-md-max}{
        position: unset;
      }
  }
}


//! Mobile Menu
.mobile_menu {
  position: unset;
  right: 0px;
  width: 100%;
  z-index: 99;
  .slicknav_menu {
      background: transparent;
      margin-top: 0px !important;
      .slicknav_btn {
        top: -41px;
        right: -2px;

        @media #{$xs}{
            top: -40px;
        }
        @media #{$md}{
            top: -40px;
        }
        // mobile Menu button color
        .slicknav_icon-bar {
            background-color:var(--ot-primary) !important;
            height: 2px !important;
            margin: 7px 0 !important;
        }
      }
      .slicknav_nav{
            margin-top: 6px !important;
            // box-shadow: 0 0 10px 3px rgba(141, 140, 140, 0.5);
            left: 0;
            right: 0;
            position: absolute;
            z-index: 999;
            ul {
                margin: 0 0 0 11px;

            }
            .btn-primary-fill{
                color: var(--white);
                border-radius: 6px;
            }
            a:hover {
                background: transparent;
                color: var(--ot-primary);
            }
            .header-btn2{
                display: inline-block;
                border-radius: 30px;
                margin-left: 0;
            }
          // Dropdown Menu button Padding None
          a {
                padding: 0 !important;
                margin: 6px 5px;
                text-decoration: none;
                font-size: 16px;

              i{
                display: none;
              }
          }
          .slicknav_arrow {
              color: var(--ot-primary);
          }
      }
  }
}


// After Login
.onhover-dropdown{
    cursor: pointer;
    position: relative;
    .onhover-dropdown-show {
        @include transition(.3s);
        top: 53px;
        position: absolute;
        z-index: 99;

        box-shadow: 0 0 10px 3px rgba(0,0,0,0.05);
        opacity: 0;
        visibility: hidden;
        right: 0;
        // @media #{$xs}{
        //   right: -50%;
        // }
    }
    &:hover{
        .onhover-dropdown-show{
            opacity: 1;
            top: 60px !important;
            visibility: visible;
            // &:before{
            //     width: 0;
            //     height: 0;
            //     border-left: 7px solid transparent;
            //     border-right: 7px solid transparent;
            //     border-bottom: 7px solid var(--white);
            //     content: "";
            //     top: -7px;
            //     position: absolute;
            //     left: 10px;
            //     z-index: 2;
            // }
            // &:after{
            //     width: 0;
            //     height: 0;
            //     border-left: 7px solid transparent;
            //     border-right: 7px solid transparent;
            //     border-bottom: 7px solid #ddd;
            //     content: "";
            //     top: -7px;
            //     position: absolute;
            //     left: 10px;
            //     z-index: 1;
            // }
        }
    }
}

.dropdown-list-style {
    width: 300px;
    top: 50px;
    right: 0;
    left: unset;
    padding: 0px 20px 20px 20px;
    border-radius: 10px;
    @media #{$xs}{
      width: 256px;
    }
    // User Profile
    .user-sub-info{
        @include flexbox();
        @include align-items(center);
        padding: 18px 0;
        border-bottom: 1px solid var(--ot-secondary-border);
        margin-bottom: 9px;
        padding-bottom: 10px;
        .user-img{
            min-width: 40px;
            max-width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            background: gray;
            margin-right: 15px;
        }
        .user-details{
            .name{
                font-weight: 500;
                font-size: 16px;
                margin-bottom: 5px;
                color: var(--ot-primary-title);
                text-transform: capitalize;
            }
            .pera{
                font-weight: 300;
                margin: 0;
                font-size: 12px;
            }
        }
    }

    // profileListing
    .profileListing {
        .list {
              color: var(--ot-primary-title);
              cursor: pointer;
              .icon {
                  @include transition(.3s);
                  color: var(--paragraph-color);
                  margin-right: 8px;
                  font-weight: 700;
                  font-size: 20px;

                  vertical-align: -4px;
                }
              .list-items {
                  @include transition(.3s);
                  color: var(--ot-tertiary-title);
                  display: block;
                  padding: 11px 15px 15px 11px;
                  font-size: 16px;
                  font-weight: 500;
                  margin: 0;
                  border-radius: 8px;
                  text-transform: capitalize;
                 i{
                    font-size: 18px;
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                 }
                  &:hover {
                    color: var(--ot-primary);
                    letter-spacing: 0.3px;
                    background: rgba(var(--ot-primary-rgb),.05);
                }
              }
        }
    }
    // Notification listing
    .notification-listing {
        padding-top: 14px;
        padding-bottom: 10px;
        max-height: 300px;
        .list {
              color: var(--ot-primary-title);
              cursor: pointer;
              .icon {
                  @include transition(.3s);
                  color: var(--paragraph-color);
                  margin-right: 8px;
                  font-weight: 700;
                  font-size: 20px;

                  vertical-align: -4px;
                }
              .list-items {
                  @include transition(.3s);
                  color: var(--ot-primary-paragraph);
                  display: block;
                  padding: 12px 15px 11px;
                  font-size: 15px;
                  font-weight: 500;
                  margin: 0;
                  border-bottom: 1px solid var(--ot-secondary-border);

                  display: flex;
                  align-items: center;
                 align-items: flex-start;
                 i{
                    position: relative;
                    top: 3px;
                    margin-right: 5px;
                    // background: rgba(var(--ot-primary-rgb),1) !important;
                    width: 36px;
                    height: 28px;
                    display: inline-block;
                    border-radius: 50%;
                    line-height: 29px;
                    color: var(--white);
                    text-align: center;
                    font-size: 15px;
                    margin-right: 10px;
                 }
                 &:last-child{
                    border-bottom: 0;

                 }
              }
        }
    }
}

// search-suggestions
.category-searchbar {
    position: absolute;
    z-index: 4;
    right: 0;
    top: 100%;
    width: 100%;
    padding: 17px 10px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 0 3px 12px rgba(45, 23, 191, 0.09);
    border-radius: 4px;
    max-height: 250px;
    @media #{$xs}{
      padding: 17px 10px;
      top: 46px;
    }
    &.search-showHide{
        @include transition(.4s);
        display: none;
       &.show{
           display: block;
       }
    }
    .category-suggestion-list {
      .list {
        display: block;
        margin-bottom: 1px;
          .item {
              font-size: 15px;
              color: var(--paragraph-color-one);
              display: block;
              padding: 8px 13px;
              border-radius: 5px;
              font-weight: 500;
              text-transform: capitalize;
            }
      }
  }
  }

.closed-icon{
    @include transition(.4s);
    right: 15px;
    z-index: 10;
    top: 15px;
    cursor: pointer;

    background: var(--ot-tertiary);
    color: #ffffff;
    font-size: 13px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;

    text-align: center;
    display: inline-block;
    background-image: none;
    opacity: 1;
    border: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    &:hover {
        background: $danger !important;
        color: white;
        transform: rotate(90deg);
    }

}

.change-mode{
    cursor: pointer;
    font-size: 22px;
    background: none;
    border:0;

    padding: 6px 11px;
    color: var(--ot-tertiary-title);
    border: 1px solid transparent;
    font-weight: 500;
    border-radius: 6px;
    text-align: center;
    display: block;
    position: relative;
    top: 2px;

}


// .header-control-item .select2-selection {
//     min-height: auto !important;
//     padding: 3px 7px;
//     border: 0 !important;
//     padding-right: 0;
// }

// .header-control-item  .select2-container--default .select2-selection--single .select2-selection__rendered {
//     color: var(--ot-tertiary-title);
//     line-height: 27px;
//     font-weight: 500;
//     font-size: 16px;
// }
// .header-control-item  .select2-container--default .select2-selection--single .select2-selection__arrow b {
//     top: 5px;
//     margin-left: 8px;
// }


.cart{
    .cart-list{
        .select2-selection {
            min-height: auto !important;
            padding: 3px 7px;
            border: 0 !important;
            padding-right: 0;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: var(--ot-tertiary-title);
            line-height: 27px;
            font-weight: 500;
            font-size: 16px;
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow b {
            top: 5px;
            margin-left: 8px;
        }
    }
}

