.bradcam-bg-1{
    background-image:url("../assets/images/bradcam/bradcam_bg.png");
}

.about-counter-bg1{
    background-image:url("../assets/images/about/counter_bg.png");
}




.breadcrumb-img{
    background-image:url("../assets/images/hero/bradcam_bg.jpg");
}
.bg-cover{
    background-image:url("../assets/images/about/counter_bg.png");
}
.plyr__poster{
    background-image: url("../assets/images/panel/video-poster1.jpg");

}

