
.cart1-bg-one{
    background: linear-gradient(115.87deg, #9A61E0 39.31%, var(--ot-primary) 100.75%) !important;
}
.cart2-bg-two{
    background:var(--ot-tertiary)  !important;
}
.cart3-bg-three{
   background: linear-gradient(157.71deg, #18BC80 1.71%, #5FE7A0 142.09%) !important;
}
.half-bg{
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: var(--section-bg-two);
        z-index: -1;
    }
}

// About 01

.about-caption{
    .title{
        color: var(--ot-primary-title);
        font-family: var(--Inter);
        font-size: 38px;
        margin-bottom: 20px;
        @media #{$xs}{
            font-size: 23px;
        }
    }
    .pera{
        margin-bottom: 25px;
        line-height: 1.7;
        font-size: 18px;
    }
}



// ot-intractor-features-area 
.ot-intractor-features-area{
    @media #{$xs-to-sm-max} {
        padding: 70px 0 70px 0;
        margin-bottom: 70px;
    }
    .gutter-135{
        @media #{'(min-width: 1200px)'} {
            --bs-gutter-x: 40px;
        }
        @media #{'(min-width: 1400px)'} {
            --bs-gutter-x: 135px;
        }
    }
    .ot-intractor-features-thumb{
        border-radius: 8px;
    }
    .ot-intractor-features-info{
        .title{
            font-weight: 600;
            font-size: 48px;
            color: var(--ot-primary-title);
            line-height: 58px;
            text-transform: capitalize;
            margin-bottom: 24px;
            @media #{$xs-to-sm-max} {
                font-size: 30px;
                line-height: 1.5;
            }
        }
        .description_one{
            font-size: 16px;
            color: var(--ot-primary-title);

        }
        .description_two{
            color: var(--ot-primary-paragraph);
            font-size: 16px;
            margin: 24px 0 40px 0;
        }
        .ot-intractor-features-boxs{
            
            display: flex;
            grid-gap: 24px;
            flex-wrap: wrap;
            .ot-intractor-features-box{
                padding: 23px 21px;
                width: 190px;
                border-radius: 4px;
                flex-shrink: 0;
                @media #{$xl}{
                    padding: 23px 15px;
                    width: 168px;
                }
                @media #{$xs}{
                    padding: 23px 15px;
                    width: 96%;
                }
                i{
                    color: var(--white);
                    margin-bottom: 8px;
                    font-size: 34px;
                    display: block;
                }
                .title{
                    font-size: 18px;
                    line-height: 1.4;
                    text-transform: capitalize;
                    @media #{$xl}{
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.ot-about-area{
    .ot-about-thumb{
        padding: 10px;
        border-radius: 4px;
        background: var(--white);
        padding: 14px 10px 14px 14px;
        .featue-thumb-large{

        }
        .ot-about-thumb-small{
            position: absolute !important;
            bottom: -40px;
            right: -80px;
            background: #E4E4E4;
            padding: 5px;
            border-radius: 2.71545px;
            max-width: 292px;
            @media #{$xs-to-sm-max} {
                max-width: 200px;
                right: 0;
                bottom: -20px;
            }
            @media #{$lg} {
                bottom: -40px;
                right: -5px;
            }
            @media #{$xl} {
                bottom: -40px;
                right: -15px;
            }
            &::before{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                background: var(--ot-primary);
                border-radius: 2.71545px 0px 0px 2.71545px;
                width: 6.33px;
                bottom: 0;
            }
        }
    }
}

// about 
.about-counter-area{
    margin-bottom: -124px;
    position: relative;
    z-index: 12;
    .about-counter-bg{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 8px;
        padding: 40.5px 0;
        @media #{$xs-to-sm-max} {
            padding: 20.5px 0;
        }
    }
    .counter-single{
        padding: 25px;
        
        h4{
            font-weight: 700;
            font-size: 55px;
            color: #FFFFFF;
            margin-bottom: 27px;
            @media #{$xs-to-sm-max} {
                font-size: 35px;
            }
        }
        h5{
            font-weight: 500;
            font-size: 20px;
            color: #E6E8EC;
            text-transform: uppercase;
            @media #{$xs-to-sm-max} {
                font-size: 14px;
            }
        }
    }
}
.ot-about-welcome-area{
    .about-text{
        p{
            font-weight: 400;
            font-size: 24px;
            color: rgba(1, 2, 18,.8);
            line-height: 1.8;
            margin-top: 25px;
            @media #{$xs-to-sm-max} {
                font-size: 16px;
            }
        }
    }
}

