
// single-cat
.single-events{
    padding: 28px 17px 31px 17px;
    z-index: 1;
    border-radius: 13px;
    // box-shadow: 0 0 30px rgba(3,6,150,0.05);
    border: 1px solid var(--ot-primary-border);
    cursor: pointer;
    .cat-icon{
        @include transition(.3s);
        margin-bottom: 10px;
    }
    .cat-cap{
        .title{
            font-size: 18px;
            margin-bottom: 7px;
            display: block;
            @media #{$xs}{
                font-size: 16px;
            }
        }
        .pera{
            font-size: 14px;
            margin-bottom: 8px;
        }
        .date{
            font-size: 14px;
            color: var(--ot-primary);
        }
    }
    // Hover Effect In single 
    &:hover{
        .cat-icon{
            transform: translateY(-5px);
            transition: 0.3s;
        }
    }
}
