// Single Forum
.single-forum{

}


.single-forum {
    background: var(--white);
    padding: 15px;
    border-radius: 12px;
    // box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.07);
    border: 1px solid var(--ot-primary-border);
    .listCap {
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        transition:.4s;
        cursor:pointer;
        gap: 15px;
        .forum-img {
            max-width: 108px;
            min-width: 108px;
            height: 112px;
            border-radius: 8px;
            overflow: hidden;
            @media #{$xs-to-sm-max}{
                max-width: 100%;
                min-width: 100%;
                height: auto;
            }
          }

        .recentCaption{
            margin-bottom: 10px;
            .title {
                margin-bottom:9px;
                line-height:1.5;
                font-size:20px;
                text-transform: capitalize;
                font-weight: 500;
            }
            .pera{
                font-size: 14px;
            }
        }
    }

    .sale-status{
      i{
          font-size: 14px;
          position: relative;
          top: 2px;
      }
      .count{
          font-size: 14px;
          text-transform: capitalize;
          color: var(--ot-primary);
      }
      .pera{
          font-size: 14px;
          text-transform: capitalize;
          color: var(--ot-primary-paragraph);
      }
    }
    .btn-primary-outline {
        padding: 4px 7px 4px 13px;
        font-size: 14px;
        i{
            font-size: 15px;
            position: relative;
            top: 3px;
        }
    }
  }


  @media(max-width:1199px) {
    .single-forum {
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
  }


  @media(max-width:991px) {
  .single-forum .listCap {
      -ms-flex-wrap:wrap;
      flex-wrap:wrap;
      margin-bottom:10px
  }
  }



  //  Select Tag
.tag-area4{
    .listing{
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        .single-list{
            @include transition(.4s);
            display: inline-block;
            color: var(--ot-tertiary);
            background: #F8F8F8;
            text-transform: capitalize;
            font-weight: 400;
            font-size: 12px;
            padding: 3px 8px;
            cursor: pointer;
            border-radius: 4px;
            @media #{$xs}{
                padding: 5px 9px;
            }

        }
    }
}
