
.single-terms{
    .title{
        font-size: 22px;
        margin-bottom: 18px;
        text-transform: capitalize;
    }
    .pera{
        font-size: 14px;
        text-transform: capitalize;
        line-height: 1.6;
    }
}

.single-policy{
    .title{
        font-size: 22px;
        margin-bottom: 18px;
        text-transform: capitalize;
    }
    .pera{
        font-size: 14px;
        text-transform: capitalize;
        line-height: 1.6;
    }
}

.terms-conditons{
    p{
        font-size: 14px;
        text-transform: capitalize;
        line-height: 1.6;
        margin-bottom: 15px;
    }
}
